/*
lighest blue = #80DDFE
light blue = #5AC5E6
darker blue = #419CBD
blue grey = #419CBD
navy blue = #0D475F
grey = #CDCDCC
offwhite = #FDFDFD
yellow = #FFE78A
brown yellow = #BDAC5A
brown grey = #8A8989
brown = #6A6120
post it note blue = #CEEBF8

pa black = #010A1A
 */

body {
background-color: #1A2738;
color: #D1D1D1;
text-align:center;
}

.headerbar {
position:fixed;
background-color:#010A1A;
color: #366B8F;
width: 100%;
height: 20px;
padding: 10px;
/*box-shadow: 0 0 0 1px #000000;
*/font-family: "Myriad Pro", "Helvetica Neue",Arial,Helvetica,"Nimbus Sans L",sans-serif;
font-weight: bold;
font-size: 18px;
}

.headerbarMenu {
color: #FFFFFF;
float: right;
/* Margin left*/
margin-right: 30px;
}

.header {
width: 100%;
min-height: 120px;
}

.content {
float:center;
width:725px;
min-height: 450px;
}

.post {
float:center;
width:100% - 20px;
min-height: 200px;
}

.sidebar {
overflow: hidden;
display: none;
float: right;
width :200px;
min-height: 450px;
}

@media all and (min-width: 1200px) {
  .sidebar {
    display: block;
  }
}

.subcontainer {
margin: 0;
margin-left: auto;
margin-right: auto;
margin-bottom: 20px;
width: 980px;
min-height: 450px;
}

.container {
text-align: left;
width: 100%;
}

.depthOneContent {
background-color:#366B8F;
padding: 10px;
margin-bottom: 10px;
font-family: Georgia,"Bitstream Charter",serif;
/*box-shadow: 0 0 0 1px #bdc3c7;
*/}

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue",Arial,Helvetica,"Nimbus Sans L",sans-serif;
  color: #FFFFFF;
}

h1 {
font-size: 30px;
margin: .2em 0px 0px 0px;
}

h2 {
font-size: 18px;
margin: .5em 0px 0px 0px;
}

h3 {
font-size: 18px;
font-weight: normal;
margin: .5em 0px 0px 0px;
}

.blockquote {
font-size: 16px;
}

