body {
background-color: #666666;
color: #000000;
text-align:center;
/* tacky! */
-webkit-animation: bgfade 1s; /* Chrome, Safari, Opera */
animation: bgfade 1s;
}

/* Chrome, Safari, Opera 
@-webkit-keyframes bgfade {
    from {background-color: #366B8F;}
    to {background-color: #1A2738;}
}

 Standard syntax 
@keyframes bgfade {
    from {background-color: #366B8F;}
    to {background-color: #1A2738;}
}
*/

.headerbar {
position:fixed;
background-color:#FFFFFF;
color: #555555;
width: 100%;
height: 20px;
padding: 10px;
box-shadow: 0 0 0 1px #999999;
font-family: Helvetica,"Nimbus Sans L",sans-serif;
font-size: 18px;
font-weight: bold;
}

.headerbarEmphasis {
color: #979B8D;
padding-right: 25px;
float: right;
}

.headerbarSpacer {
height: 60px;
}

.content {
float:center;
width: auto;
min-height: 450px;
}

.contentBody {
background-color: #FFFFFF;
padding: 10px;
font-family: Georgia,"Bitstream Charter",serif;
border-radius: 15px;
}

.footer {
position:fixed;
bottom:0;
left:0;
text-align: left;
margin-left: .5em;
font-size: 12;
}

.contentBody a:link {
color: #010A1A;
}

.contentBody a:visited {
color: #010A1A;
}

.contentBody a:hover {
color: #010A1A;
text-decoration: none;
}

.subcontainer {
margin: 0;
margin-left: auto;
margin-right: auto;
margin-bottom: 20px;
min-height: 450px;
width: 600px;
}

/* 600px for content, 20px space, 190px + 2*10 for sidebar, 40 for page margins */
@media all and (min-width: 870px) {
  .subcontainer {
    width: 830px;
  }
}

.container {
text-align: left;
width: 100%;
min-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica,"Nimbus Sans L",sans-serif;
  color: #71816D;
}

h1 {
font-size: 26px;
margin: .37em 0em .2em 0em;
}

h1 a {
color: #FFFFFF;
text-decoration: none;
margin-bottom: 5px;
}

h2 {
font-size: 18px;
margin: .5em 0px 0px 0px;
}

h3 {
font-size: 18px;
font-weight: normal;
margin: .5em 0px 0px 0px;
}

.blockquote {
font-size: 16px;
}

