body {
background-color: #FFFFFF;
color: #000000;
text-align:center;
font-family: "Myriad Pro", "Helvetica Neue",Arial,Helvetica,"Nimbus Sans L",sans-serif;
}

.center_container {
margin: 0 auto;
width: 840px;
height: 100%;
}

.title_header {
margin: 0 auto;
width: 840px;
height: 180px;
}

.title_name {
color: #333333;
font-size: 58pt;
text-align: right;
position: absolute;
top: 95;
transform-origin:left bottom;
transform: rotate(-2.5deg);
}

.title_desc {
color: #333333;
font-size: 25pt;
text-align: right;
position: relative;
top: 116;
right: 80;
}

.body_container {
/*background-color:rgba(255,0,0,.1);*/
color: #002200;
margin: 0 auto;
width: 840px;
height: 900px;
}

.body_container::before {
background-color: #999999;
color: #002200;
margin: 0 auto;
width: 860px;
height: 900px;
content: "";
display: block;
position: absolute;
z-index: -1;
transform-origin:left bottom;
transform: rotate(-2.5deg);
transition: .25s all ease;
}

.wide_content {
background-color:#fefefe;
color: #002200;
margin: 0 auto;
width: 750px;
height: 250px;
position: relative;
top:30px;
left:-15px;
}

.wide_content::before {
background-color: #99ff33;
color: #002200;
margin: 0 auto;
width: 750px;
height: 250px;
content: "";
display: block;
position: absolute;
z-index: -1;
transform-origin:left bottom;
transform: rotate(-2deg);
transition: .25s all ease;
/*hover*/
-webkit-transition-duration: 0.3s;
transition-duration: 0.3s;
-webkit-transition-property: background-color;
transition-property: background-color;
}

.wide_content:hover::before {
  background-color: #669933;
}

.photo {
width: 210px;
height: 210px;
position: absolute;
top: 20px;
left: 20px;
}

.photo_text {
height: 210px;
position: absolute;
top: 20px;
left: 250px;
text-align: left;
}

.photo_text_important {
font-size: 21;
}

.photo_text_contact {
font-size: 17;
}

.narrow_content {
display:inline-block;
background-color:#fefefe;
margin: 50px 40px 0px 0px;
width: 345px;
height: 220px;
position: relative;
top:30px;
left:0px;
}

.narrow_content::before {
background-color: #99ff33;
margin: 0 auto;
width: 345px;
height: 220px;
content: "";
display: block;
position: absolute;
z-index: -1;
transform-origin:left bottom;
transform: rotate(-4deg);
/*hover*/
-webkit-transition-duration: 0.3s;
transition-duration: 0.3s;
-webkit-transition-property: background-color;
transition-property: background-color;
}

.narrow_content:hover::before {
 background-color: #669933;
}

.narrow_topic {
background-color: #434343;
width: 300px;
height: 80px;
margin: 23px 0px 0px 13px;
}

.topic_icon {
height: 60px;
width:  60px;
position: relative;
top: 10px;
left: 10px;
display: block;
border-radius: 5px;
}

.topic_title {
position: absolute;
top: 40px;
left: 90px;
color: #99ff33;
font-size: 20;
}

.topic_desc {
position: absolute;
top: 65px;
left: 90px;
color: #FFFFFF;
font-size: 16;
}

.narrow_bullet {
color: #000000;
width: 300px;
height: 30px;
margin: 20px 15px 17px 13px;
display: block;
position: relative;
}

.narrow_bullet::before {
background-color: #a7a7a7;
opacity: .5;
width: 300px;
height: 30px;
content: "";
display: block;
position: absolute;
transform-origin:left bottom;
transform: rotate(-1.7deg);
}
