<html>
	<head>
		<meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
		<title>Water. Vapor. Steam.</title>
 		<link rel='stylesheet' type='text/css' href='/assets/wvs.css'>
 		<link rel='stylesheet' type='text/css' href='/assets/normalize.css' />
	</head>
	<body>
		<div class='container'>
			<div class='headerbar'>
				Water. Vapor. Steam.
				<span class='headerbarMenu'>
					anime | gaming | code
				</span>
			</div>
			<div class='subcontainer'>
				<div class='header'>A</div>
				<div class='sidebar depthOneContent'>C</div>
				<div class='content'>
				  {{ content }}
				</div>
			</div>
		</div>
	</body>
<html>