<html>
	<head>
		<meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
 	<title> {% if page.title %} {{ page.title }} | {% endif %} Aimless Bitshift</title>
 		<link rel='stylesheet' type='text/css' href='/assets/wvs.css'>
 		<link rel='stylesheet' type='text/css' href='/assets/normalize.css' />
	</head>
	<body>
		<div class='container'>
			<div class='headerbar'>
				<a href="/" style="text-decoration:none">
					<span style="color:#366B8F">
						aimless 
						<span style="color:white">bit</span>shift 
					</span>
				</a>
				<span class='headerbarMenu'>
					notes | code | ego
				</span>
			</div>
			<div class='subcontainer'>
				<div class='headerbarSpacer'></div>
				<div class='header depthOneContent'>
					<div class="menuCategory">
						<div class="menuCategoryTitle">
							<a>Recent:</a>
						</div>
					{% for post in site.posts limit:5 %}
			  			<div class="menuCategoryPost">
					    	<a href="{{ post.url }}">* {{ post.longtitle }}</a>
						</div>
					{% endfor %}
					</div>
				</div>
				<div class='sidebar depthOneContent'>
<!-- 					display recent posts by categories                           -->
					<div class="menuCategory">
						<div class="menuCategoryTitle">
							<a>Recent:</a>
						</div>
					{% for post in site.posts limit:5 %}
			  			<div class="menuCategoryPost">
					    	<a href="{{ post.url }}">* {{ post.longtitle }}</a>
						</div>
					{% endfor %}
					</div>
					<br>
<!-- 					display all posts by categories                           -->
	{% for category in site.categories %}
					<div class="menuCategory">
						<div class="menuCategoryTitle">
							<a name="{{ category | first }}">{{ category | first }}</a>
						</div>

						{% for posts in category %}
						  	{% for post in posts %}
						  		{% if post.url %}
						  			<div class="menuCategoryPost">
							    	<a href="{{ post.url }}">* {{ post.title }}</a>
									</div>
						  		{% endif %}						  		
						  	{% endfor %}
						{% endfor %}
    				</div>
	{% endfor %}
				</div>
				<div class='content'>
				  {{ content }}
				</div>
			</div>
		</div>
	</body>
<html>