<html>
	<head>
		<meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
 	<title> {% if page.title %} {{ page.title }} | {% endif %} Aimless </title>
 		<link rel='stylesheet' type='text/css' href='/assets/wvs.css'>
 		<link rel='stylesheet' type='text/css' href='/assets/normalize.css' />
	</head>
	<body>
		<div class='container'>
			<div class='headerbar'>
				aimless <span style="color:white">bit</span>shift
				<span class='headerbarMenu'>
					anime | gaming | code
				</span>
			</div>
			<div class='subcontainer'>
				<div class='headerbarSpacer'></div>
				<div class='header depthOneContent'>
					<h2>Recent:</h2>
					{% for post in site.posts limit:3 %}
			  			<div class="menuCategoryPost">
					    	<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
						</div>
					{% endfor %}
				</div>
				<div class='sidebar depthOneContent'>
<!-- 					display recent posts by categories                           -->
						<div class="sideBarTitle">
							<h3>Recent:</h3>
						</div>
						{% for post in site.posts limit:5 %}
				  			<div class="menuCategoryPost">
						    	<a href="{{ post.url }}">* {{ post.title }}</a>
							</div>
						{% endfor %}
						<br>
<!-- 					display all posts by categories                           -->
						<div class="sideBarTitle">
							<h3>More</h3>
						</div>
	{% for category in site.categories %}
					<div class="menuCategory">
						<div class="menuCategoryTitle">
							<a name="{{ category | first }}">{{ category | first }}</a>
						</div>

						{% for posts in category %}
						  	{% for post in posts %}
						  		{% if post.url %}
						  			<div class="menuCategoryPost">
							    	<a href="{{ post.url }}">* {{ post.title }}</a></li>
									</div>
						  		{% endif %}						  		
						  	{% endfor %}
						{% endfor %}
    				</div>
	{% endfor %}
				</div>
				<div class='content'>
				  {{ content }}
				</div>
			</div>
		</div>
	</body>
<html>