---
layout: default
title: 
---
<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
	<div class='post depthOneContent'>
    <div class='postHeader'>
      <h1><a href="{{ post.url }}">{{ post.longtitle }}</a></h1>
    </div>
    <div class='postBody'>
      {{ post.date | date_to_string }} | {{ post.categories }}
      {{ post.excerpt }}
      <p><a href="{{ post.url }}" role="button">More...</a></p>
	  </div>
  </div>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
    <a href="/index.html" class="previous">Previous</a>
    {% else %}
    <a href="/index/page{{ paginator.previous_page }}" class="previous">Previous</a>
    {% endif %}
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="/index/page{{ paginator.next_page }}" class="next">Next</a>
  {% else %}
    <span class="next">Next</span>
  {% endif %}
</div>